version: '3.5'
networks:
  consul:
    external:
      name: consul

services: 
  consul-dc2-node1:
    image: hashicorp/consul
    restart: always
    deploy:
      replicas: 1 
      resources:
        limits:
          cpus: '0.1'
          memory: "512M"
    networks:
      - consul
    command: agent --server=true --client=0.0.0.0 -ui -hcl='acl {enabled=true default_policy = "deny" enable_token_persistence=true}' -datacenter=dc2 --bootstrap-expect=1
  consul-dc2-node2:
    image: hashicorp/consul
    restart: always
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.1'
          memory: "512M"
    depends_on:
      - consul-dc2-node1
    networks:
      - consul
    command: agent --server=true --client=0.0.0.0 -ui -hcl='acl {enabled=true default_policy = "deny" enable_token_persistence=true}' -datacenter=dc2 --join consul-dc2-node1 -rejoin
  consul-dc2-node3:
    image: hashicorp/consul
    restart: always
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.1'
          memory: "512M"
    depends_on:
      - consul-dc2-node1
    networks:
      - consul
    command: agent --server=true --client=0.0.0.0 -ui -hcl='acl {enabled=true default_policy = "deny" enable_token_persistence=true}' -datacenter=dc2 --join consul-dc2-node1 -rejoin
